%img{:src => '/images/not_found.png', :width => 128, :height => 128, :alt => '', :class => 'not_found'}

.respond
  %h2 Link Not Found.

  %p
    This link has not been registered with this instance of Shore. Please check your URL and try again.
