%h3 Hi.

%p
  This is an instance of the Shore URL shortener. It has been set up to provide short URL aliases for a web application. All you need is a shortened URL and you will be redirected to the appropriate target.
