!!! 5
%html
  %head
    %title Shore.
    %link{:href => '/stylesheet.css', :rel => 'stylesheet', :type => 'text/css', :media => 'all'}
  %body
    %header
      %h1
        %a{:href => 'http://github.com/Ennova/shore'} Shore.
      %h2 The infinite URL shortener.
    %section
      = yield
    %footer
      %span Built by
      %a{:href => 'http://ennova.com.au'}
        %img{:src => '/images/ennova.png'}
